<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://currencyconversionapi20220614223133.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/33d75a41-f0c3-4703-b352-0abf6ac713b9/resourcegroups/CurrencyConversionApi20220614223133ResourceGroup/providers/Microsoft.Web/sites/CurrencyConversionApi20220614223133</ResourceId>
    <UserName>$CurrencyConversionApi20220614223133</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://currencyconversionapi20220614223133.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>